@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Merry-ExtraBold";
  src: url("../assets/fonts/merriweather-sans/MerriweatherSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Merry-Bold";
  src: url("../assets/fonts/merriweather-sans/MerriweatherSans-Bold.ttf");
}

.font-merry-bold {
  font-family: "Merry-Bold" !important;
}

.font-merry-extrabold {
  font-family: "Merry-ExtraBold" !important;
}

*{
  font-family: "Poppins-Regular" !important;
}

.font-poppins-regular {
  font-family: "Poppins-Regular" !important;
}

.font-poppins-bold {
  font-family: "Poppins-Bold" !important;
}
.font-poppins-medium {
  font-family: "Poppins-Medium" !important;
}

.top-container {
  margin: 0 auto;
  padding: 0 5rem;
  max-width: 1200px;
}

.top-container {
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  .top-container {
    padding: 0 2rem;
  }
}

@media (min-width: 768px) {
  .top-container {
    padding: 0 3rem;
  }
}

@media (min-width: 1024px) {
  .top-container {
    padding: 0 4rem;
  }
}

@media (min-width: 1280px) {
  .top-container {
    padding: 0 7rem;
  }
}
